<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Cluster</title>
    <!-- Add Bootstrap link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2>Enter Data for Prediction</h2>
        <form action="{{ url_for('predict_cluster') }}" method="POST">
            <div class="form-group">
                <label for="msi">MSI:</label>
                <input type="text" class="form-control" id="msi" name="msi" required>
            </div>
            <div class="form-group">
                <label for="sv">SV:</label>
                <input type="text" class="form-control" id="sv" name="sv" required>
            </div>
            <button type="submit" class="btn btn-primary">Predict Cluster</button>
        </form>

        {% if predicted_cluster is not none %}
            <h3 class="mt-4">Predicted Cluster:</h3>
            <p><strong>MSI:</strong> {{ msi }} <strong>SV:</strong> {{ sv }}</p>
            <p><strong>Predicted Cluster (Data Type):</strong> {{ predicted_cluster }}</p>
        {% endif %}
        <a href="{{ url_for('landing_page') }}" class="btn btn-primary btn-lg">Back to Landing Page</a>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
